


<!DOCTYPE html>
<html>
<head>
    <title>Checkout</title>
    <meta name='platform' content='bigcommerce.stencil' />
    

    <link href="https://cdn11.bigcommerce.com/r-2488d248a82fcc96989bdb04e120902b82b7d9c8/img/bc_favicon.ico" rel="shortcut icon">
    
<base href="/" target="_top">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href="https://cdn11.bigcommerce.com/shared/css/open_sans-d6a25005e2cc4260148ad7d363953fc5f6ba209a.css" rel="stylesheet" type="text/css">


            <link href="https://cdn11.bigcommerce.com/shared/microapp/checkout/dist/checkout-6455dcc9.css" rel="stylesheet" type="text/css">
    

<script type="text/javascript">
var BCData = {"csrf_token":"e292955a99f3ca63edee02996aaae0f9d2958c3c4b344f079274e9e4e7d2a14f"};
</script>



<link data-stencil-stylesheet href="https://cdn11.bigcommerce.com/s-2nfdiyehvz/stencil/558781b0-6ef6-013b-f567-4afeb0a3a797/e/960150f0-c5aa-0139-ef11-066281ecf407/css/optimized-checkout-835bc9f0-6ef7-013b-b98c-32bb98ae51d5.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Poppins:500,400&display=swap" rel="stylesheet">

<script type="text/javascript">
    window.language = {"locale":"en","locales":{},"translations":{}};
</script>




</head>
<body>
    <header class="checkoutHeader optimizedCheckout-header">
    <div class="checkoutHeader-content">
        <h1 class="is-srOnly">Checkout</h1>
        <h2 class="checkoutHeader-heading">
            <a class="checkoutHeader-link" href="https://luxwatches-demo-02.mybigcommerce.com/">
                    <img alt="Luxwatches Demo 02" class="checkoutHeader-logo" id="logoImage" src="https://cdn11.bigcommerce.com/s-2nfdiyehvz/product_images/lw-logo-w_1585626976__10415.png"/>
            </a>
        </h2>
    </div>
</header>

    <script>
        window.checkoutVariantIdentificationToken = 'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJodHRwczovL2x1eHdhdGNoZXMtZGVtby0wMi5teWJpZ2NvbW1lcmNlLmNvbSIsImlhdCI6MTcyMDA3MDI3NSwiZG9tYWluIjp7ImNhcnRJZCI6ImIzMzA2M2E0LTEzZjktNDUxNy05NDU5LWNhMWQyOGMwMThhYiIsImNoZWNrb3V0VmFyaWFudCI6Im9wdGltaXplZF9vbmVfcGFnZV9jaGVja291dCJ9fQ.km13ig6KwfBhylfyi7cVl7ZXOTF-SxZtaomG2Vb31zQ';
    </script>

    <script>
        document.body.style.display = 'none';
    </script>

    <div id="checkout-app"></div>
    <script src="https://cdn11.bigcommerce.com/shared/microapp/checkout/dist/loader-1.504.0.js"></script>

    <script>
        checkoutLoader.loadFiles({ publicPath: 'https://cdn11.bigcommerce.com/shared/microapp/checkout/dist' })
            .then(function(app) {
                document.body.style.display = '';

                                    app.renderCheckout({
                        checkoutId: 'b33063a4-13f9-4517-9459-ca1d28c018ab',
                        containerId: 'checkout-app',
                        sentryConfig: {"release":"checkout-js@1.504.0","whitelistUrls":["https:\/\/cdn11.bigcommerce.com\/shared\/microapp\/checkout\/dist"],"dsn":"https:\/\/418e8e81a209403e9c8740c4fdbff5a6@sentry.io\/1542560","environment":"production","normalizeDepth":5,"tags":{"environment":"production","tier":1},"userId":"1000644542-0"},
                        
                    });
                            });
    </script>

<script >
!function(){if(!window._bcCsrfProtectionPatched){window._bcCsrfProtectionPatched=!0;var e=Object.getPrototypeOf(new window.XMLHttpRequest),t=e.open,n=e.send,i=e.setRequestHeader;if(e.open=function(){const e=d(arguments[1]);return this._isLocalRequest=o(e),this._isAssetRequest=u(arguments[0],e),t.apply(this,arguments)},e.send=function(){if(this._isLocalRequest&&!this._isAssetRequest){var e=a(),t=a("SF-CSRF-TOKEN");e&&!this._hasCsrfToken&&this.setRequestHeader("X-XSRF-TOKEN",e),t&&!this._hasSfCsrfToken&&this.setRequestHeader("X-SF-CSRF-TOKEN",t)}return n.apply(this,arguments)},e.setRequestHeader=function(){return"X-XSRF-TOKEN"===arguments[0]&&arguments[1]&&(this._hasCsrfToken=!0),"X-SF-CSRF-TOKEN"===arguments[0]&&arguments[1]&&(this._hasSfCsrfToken=!0),i.apply(this,arguments)},window.$&&window.$.fn&&window.$.fn.jquery?$(document).submit(c):document.addEventListener("submit",c),window.fetch){var r=window.fetch;window.fetch=function(e,t){if(window.Request){var n=new Request(e,t);return o(n.url)&&!u(n.method,n.url)&&h(n),r(n)}var i=d(e),s=t||{};return o(i)&&!u(s.method,i)&&h(s),r(i,s)}}var s=[new RegExp("^"+window.location.origin+"/wishlist.php"),new RegExp("^/?wishlist.php")]}function a(e="XSRF-TOKEN"){for(var t=document.cookie.split("; "),n=0;n<t.length;n++){var i=t[n].split("="),r=i[0],s=i[1];if(e===r)return s}return""}function o(e){return!!e.match(new RegExp("^(https?:)?//"+window.location.hostname))||!e.match(new RegExp("^(https?:)?//"))}function u(e,t){return(!e||"GET"===e.toUpperCase())&&/\.(png|gif|jpe?g|css|js|json|svg|html?)$/.test(t.split("?")[0])}function h(e){e.headers=e.headers||{};var t=a(),n=a("SF-CSRF-TOKEN");e.headers.append?(t&&(e.headers.delete("X-XSRF-TOKEN"),e.headers.append("X-XSRF-TOKEN",t)),n&&(e.headers.delete("X-SF-CSRF-TOKEN"),e.headers.append("X-SF-CSRF-TOKEN",n))):(t&&(e.headers["X-XSRF-TOKEN"]=t),n&&(e.headers["X-SF-CSRF-TOKEN"]=n))}function d(e){return e instanceof window.URL?e.href:e}function c(e){var t=e.target.getAttribute("action");null!=t&&function(e,t){for(var n=0;n<t.length;n++)if(e&&e.match(t[n]))return!0;return!1}(t,s)&&(e.target.method="POST");var n=e.target.querySelector('input[name="authenticity_token"]'),i=e.target.querySelector('input[name="sf_authenticity_token"]');if(!(n&&i||"post"!==e.target.method.toLowerCase())){if(null==n){var r=document.createElement("input");r.setAttribute("type","hidden"),r.setAttribute("name","authenticity_token"),r.setAttribute("value",a()),e.target.appendChild(r)}if(null==i){var o=document.createElement("input");o.setAttribute("type","hidden"),o.setAttribute("name","sf_authenticity_token"),o.setAttribute("value",a("SF-CSRF-TOKEN")),e.target.appendChild(o)}}}}();
//# sourceMappingURL=csrf-protection-header-5eeddd5de78d98d146ef4fd71b2aedce4161903e.js.map</script>



<script >
    !function(){if(!window._bcCsrfProtectionPatched){window._bcCsrfProtectionPatched=!0;var e=Object.getPrototypeOf(new window.XMLHttpRequest),t=e.open,n=e.send,i=e.setRequestHeader;if(e.open=function(){const e=d(arguments[1]);return this._isLocalRequest=o(e),this._isAssetRequest=u(arguments[0],e),t.apply(this,arguments)},e.send=function(){if(this._isLocalRequest&&!this._isAssetRequest){var e=a(),t=a("SF-CSRF-TOKEN");e&&!this._hasCsrfToken&&this.setRequestHeader("X-XSRF-TOKEN",e),t&&!this._hasSfCsrfToken&&this.setRequestHeader("X-SF-CSRF-TOKEN",t)}return n.apply(this,arguments)},e.setRequestHeader=function(){return"X-XSRF-TOKEN"===arguments[0]&&arguments[1]&&(this._hasCsrfToken=!0),"X-SF-CSRF-TOKEN"===arguments[0]&&arguments[1]&&(this._hasSfCsrfToken=!0),i.apply(this,arguments)},window.$&&window.$.fn&&window.$.fn.jquery?$(document).submit(c):document.addEventListener("submit",c),window.fetch){var r=window.fetch;window.fetch=function(e,t){if(window.Request){var n=new Request(e,t);return o(n.url)&&!u(n.method,n.url)&&h(n),r(n)}var i=d(e),s=t||{};return o(i)&&!u(s.method,i)&&h(s),r(i,s)}}var s=[new RegExp("^"+window.location.origin+"/wishlist.php"),new RegExp("^/?wishlist.php")]}function a(e="XSRF-TOKEN"){for(var t=document.cookie.split("; "),n=0;n<t.length;n++){var i=t[n].split("="),r=i[0],s=i[1];if(e===r)return s}return""}function o(e){return!!e.match(new RegExp("^(https?:)?//"+window.location.hostname))||!e.match(new RegExp("^(https?:)?//"))}function u(e,t){return(!e||"GET"===e.toUpperCase())&&/\.(png|gif|jpe?g|css|js|json|svg|html?)$/.test(t.split("?")[0])}function h(e){e.headers=e.headers||{};var t=a(),n=a("SF-CSRF-TOKEN");e.headers.append?(t&&(e.headers.delete("X-XSRF-TOKEN"),e.headers.append("X-XSRF-TOKEN",t)),n&&(e.headers.delete("X-SF-CSRF-TOKEN"),e.headers.append("X-SF-CSRF-TOKEN",n))):(t&&(e.headers["X-XSRF-TOKEN"]=t),n&&(e.headers["X-SF-CSRF-TOKEN"]=n))}function d(e){return e instanceof window.URL?e.href:e}function c(e){var t=e.target.getAttribute("action");null!=t&&function(e,t){for(var n=0;n<t.length;n++)if(e&&e.match(t[n]))return!0;return!1}(t,s)&&(e.target.method="POST");var n=e.target.querySelector('input[name="authenticity_token"]'),i=e.target.querySelector('input[name="sf_authenticity_token"]');if(!(n&&i||"post"!==e.target.method.toLowerCase())){if(null==n){var r=document.createElement("input");r.setAttribute("type","hidden"),r.setAttribute("name","authenticity_token"),r.setAttribute("value",a()),e.target.appendChild(r)}if(null==i){var o=document.createElement("input");o.setAttribute("type","hidden"),o.setAttribute("name","sf_authenticity_token"),o.setAttribute("value",a("SF-CSRF-TOKEN")),e.target.appendChild(o)}}}}();
//# sourceMappingURL=csrf-protection-header-5eeddd5de78d98d146ef4fd71b2aedce4161903e.js.map
</script>
<script >
    function ready(fn) {
    if (document.readyState != 'loading') {
        fn();
    } else {
        document.addEventListener('DOMContentLoaded', fn);
    }
}

ready(function() {
    var origin = location.protocol + '//' + location.hostname;
    var img = new Image(1, 1);
    img.src = origin + '/index.php?action=track_visitor&' + new Date().getTime();
    img.onload = function() { return true; };
});
</script>
</body>
</html>
