<article class="cart optimizedCheckout-orderSummary" data-test="cart">
  <header class="cart-header">
    <h3 class="cart-title optimizedCheckout-headingSecondary">Order Summary</h3><a class="cart-header-link" data-test="cart-edit-link" href="https://luxwatches-demo-02.mybigcommerce.com/cart.php" id="cart-edit-link" target="_top">Edit Cart</a>
  </header>
  <section class="cart-section optimizedCheckout-orderSummary-cartSection">
    <h3 class="cart-section-heading optimizedCheckout-contentPrimary" data-test="cart-count-total">5 Items</h3>
    <ul aria-live="polite" class="productList">
      <li class="productList-item is-visible">
        <div class="product" data-test="cart-item">
          <figure class="product-column product-figure"><img alt="Minterdum AnDacony Maliduet" data-test="cart-item-image" src="https://cdn11.bigcommerce.com/s-2nfdiyehvz/products/158/images/510/2232049__80153__76537.1583120669.220.290.jpg?c=2"></figure>
          <div class="product-column product-body">
            <h4 class="product-title optimizedCheckout-contentPrimary" data-test="cart-item-product-title">3 x Minterdum AnDacony Maliduet</h4>
          </div>
          <div class="product-column product-actions">
            <div class="product-price optimizedCheckout-contentPrimary" data-test="cart-item-product-price">$2,697.00</div>
          </div>
        </div>
      </li>
      <li class="productList-item is-visible">
        <div class="product" data-test="cart-item">
          <figure class="product-column product-figure"><img alt="Ampus Cosmo De Milancelos Scelerisque" data-test="cart-item-image" src="https://cdn11.bigcommerce.com/s-2nfdiyehvz/product_images/attribute_rule_images/912_thumb_1583466264.jpg"></figure>
          <div class="product-column product-body">
            <h4 class="product-title optimizedCheckout-contentPrimary" data-test="cart-item-product-title">2 x Ampus Cosmo De Milancelos Scelerisque</h4>
            <ul class="product-options optimizedCheckout-contentSecondary" data-test="cart-item-product-options">
              <li class="product-option" data-test="cart-item-product-option">Color Black</li>
              <li class="product-option" data-test="cart-item-product-option">Size S</li>
            </ul>
          </div>
          <div class="product-column product-actions">
            <div class="product-price optimizedCheckout-contentPrimary" data-test="cart-item-product-price">$1,678.00</div>
          </div>
        </div>
      </li>
    </ul>
  </section>
  <section class="cart-section optimizedCheckout-orderSummary-cartSection">
    <div data-test="cart-subtotal">
      <div aria-live="polite" class="cart-priceItem optimizedCheckout-contentPrimary cart-priceItem--subtotal"><span class="cart-priceItem-label"><span data-test="cart-price-label">Subtotal </span></span><span class="cart-priceItem-value"><span data-test="cart-price-value">$4,375.00</span></span></div>
    </div>
    <div data-test="cart-shipping">
      <div aria-live="polite" class="cart-priceItem optimizedCheckout-contentPrimary changeHighlight-exit changeHighlight-exit-active"><span class="cart-priceItem-label"><span data-test="cart-price-label">Shipping </span></span><span class="cart-priceItem-value"><span data-test="cart-price-value">Free</span></span></div>
    </div>
    <div data-test="cart-taxes">
      <div aria-live="polite" class="cart-priceItem optimizedCheckout-contentPrimary"><span class="cart-priceItem-label"><span data-test="cart-price-label">Tax </span></span><span class="cart-priceItem-value"><span data-test="cart-price-value">$0.00</span></span></div>
    </div><a aria-controls="redeemable-collapsable" aria-expanded="false" class="redeemable-label" data-test="redeemable-label" href="#">Coupon/Gift Certificate</a>
  </section>
  <section class="cart-section optimizedCheckout-orderSummary-cartSection">
    <div data-test="cart-total">
      <div aria-live="polite" class="cart-priceItem optimizedCheckout-contentPrimary cart-priceItem--total"><span class="cart-priceItem-label"><span data-test="cart-price-label">Total (USD) </span></span><span class="cart-priceItem-value"><span data-test="cart-price-value">$4,375.00</span></span></div>
    </div>
  </section>
</article>