<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
 <!-- // -->   


<div id="checkout-app">
  <div class="layout optimizedCheckout-contentPrimary">
    <div class="layout-main">
      <div class="orderConfirmation">
        <h1 class="optimizedCheckout-headingPrimary" data-test="order-confirmation-heading">Thank you MOHAMMED!</h1>
        <section class="orderConfirmation-section">
          <p data-test="order-confirmation-order-number-text"><span>Your order number is <strong>113</strong></span></p>
          <p data-test="order-confirmation-order-status-text"><span>Your order was sent to us but is currently awaiting payment. Once we receive the payment for your order, it will be completed. If you've already provided payment details then we will process your order manually and send you an email when it's completed.</span></p>
        </section>
        <!-- <section class="orderConfirmation-section">
          <div data-test="payment-instructions">Type your cash on delivery instructions in here.</div>
        </section> -->
        <div class="continueButtonContainer">
          <form action="https://luxwatches-demo-02.mybigcommerce.com" method="get" target="_top"><button class="button button--tertiary optimizedCheckout-buttonSecondary" type="submit">Continue Shopping »</button></form>
        </div>
      </div>
    </div>
    <div class="cartDrawer optimizedCheckout-orderSummary" tabindex="0">
      <figure class="cartDrawer-figure">
        <div class="cartDrawer-imageWrapper"><img alt="Minterdum AnDacony Maliduet" data-test="cart-item-image" src="https://cdn11.bigcommerce.com/s-2nfdiyehvz/products/158/images/510/2232049__80153__76537.1583120669.220.290.jpg?c=2"></div>
      </figure>
      <div class="cartDrawer-body">
        <h3 class="cartDrawer-items optimizedCheckout-headingPrimary">1 Item</h3><a>Show Details</a>
      </div>
      <div class="cartDrawer-actions">
        <h3 class="cartDrawer-total optimizedCheckout-headingPrimary">$899.00</h3>
      </div>
    </div>
  </div>
</div>
<!-- // -->
</body>
</html>